*{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}
body{
    background: url(fondo.png);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    color: #fff;
    
}
div{
    margin: 50px 50px 20px 50px;
}
button{
    border-radius: 3px;
    border: none;
    padding: 20px;
    background-color: #E04D01;
    margin: 30px 30px 50px 30px;
}
h1{
    font-size: 40px;
}

.form{
    background-color: rgba(2, 3, 49, 0.767);
    display: flex;
    flex-direction: column;
    width: 1000px;
    border-radius:15px ;
}
.input-important{
    width: 870px;
    padding: 8px;
    border-radius: 10px;
}
.select-important{
    width: 890px;
    padding: 8px;
    border-radius: 10px;
}
.textarea-width{
    min-width: 890px;
    min-height: 300px;
}
.radio-buttons{
    display: flex;
    flex-direction: column;
}
.radio-btn{
    margin: 0;

}